@import "../node_modules/nes.css/css/nes.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
#app {
  font-family: 'Press Start 2P';
   
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
canvas {
  border: 5px solid;
  margin-bottom: 1rem;
}
h1 {
  margin-bottom: 3.5rem;
}
.dialog-menu {
  padding-inline-start: 0;
}